[2018-02-06 01:28] geohacker opened #1 "logo + artwork"
_Let's try using github this time to organise tasking instead of trello like last year._

@rasagy - I know we chatted a bit about this. Do you think this is something you can help with? For the next edition we aren't going to do a logo contest.

Here're some links from previous editions:
* SOTM Asia 2017 http://wiki.openstreetmap.org/wiki/State_Of_The_Map_Asia_2017/Logo_entries
* SOTM Asia 2016 ht

[2018-02-06 01:31] geohacker opened #2 "Sponsorship Deck"
We'll fork what SOTM global 2018 is doing and prepare what meets our needs. @jinalfoflia is running point.

[2018-02-06 01:32] geohacker opened #3 "Social media accounts"
Let's consolidate social media accounts.

cc @satyaakam @jinalfoflia

[2018-02-06 01:33] geohacker opened #4 "CFP"
* Form a CFP committee
* Lock in dates.

[2018-02-06 01:50] geohacker opened #5 "SOTM Trademark Registration"
The [OSMF Trademark policy](https://wiki.osmfoundation.org/wiki/Trademark_Policy#FAQ) ensures safe use of the SOTM and OSM trademarks.

We should have this in place before reaching out to sponsors:

[code]

This doesn't have to be an organisation - so for now @jinalfoflia is going to grab the license in her name on behalf of the local community.

[2018-02-06 01:53] geohacker opened #6 "Money Channel"
💵 💵  + 🇮🇳

Everyone knows this is a pain, so we're going to have to figure this out. Since OSM India isn't a registered entity or have FCRA clearance to bring money from outside the country, I'm looking for options:

* [x] Datameet - reached out, no FCRA
* [x] CIS - FCRA yes, reaching out shortly
* [ ] India Open Data Association - FCRA yes, reaching out after CIS.

We'll offer co-branding for the

[2018-02-06 01:53] jinalfoflia commented on #3
The facebook pages of most of the Asian OSM communities

- [ ] India https://www.facebook.com/groups/mappingindia/
- [ ] Bangladesh https://www.facebook.com/groups/osmbd/
- [ ] Sri Lanka https://www.facebook.com/groups/142058222659672/
- [ ] Bhutan https://www.facebook.com/groups/osmbhutan/
- [ ] Myanmar https://www.facebook.com/groups/osmmm/
- [ ] Indonesia https://www.facebook.com/groups/osm.id/

[2018-02-06 02:01] geohacker commented on #3
@jinalfoflia good question - I don't think we've one. Unless @mapconcierge or @maning set it up? We can setup one or give people access to their preferred email accounts - whatever you think is best.

[2018-02-06 02:11] jinalfoflia commented on #3
@geohacker have set up an account for now - `stateofthemapasia@gmail.com` as others were already taken. Did not think of using a personal one as this could be an email address that could be used in the future SotM Asia conferences too. Will go ahead and create a twitter account using the same email address.

[2018-02-06 02:18] geohacker opened #7 "Venue"
We've a good [set of venues here](https://paper.dropbox.com/doc/Venues-and-dates-YV295RZWlm4miOW9JhH3D).

What we look in a venue:

* 1 big auditorium that can fit about 250 people.
* 1 medium hall that can fit about 100 people
* Space for breakout sessions / bofs
* Proximity to hotels - we like how Kathmandu did this by hosting at a hotel. It made a huge difference for everyone to stay at the sam

[2018-02-06 02:19] geohacker commented on #7
This is dependent on the sponsorship deck #2 + collateral of the event to talk to venue partners #1

[2018-02-06 02:49] geohacker opened #8 "Event format"
Let's figure out a good event format. What we've done previously:

* Day before the conference - mapping party.
* Day 1 - keynote, talks, workshops.
* Day 2 -  talks, happy hour.

Feedback from 2017 showed a number of people interested in a day dedicated to workshops. How does something like below sound to you all?

* Day before the conference - mapping party, workshops. Parallel, may be different

[2018-02-06 03:13] jinalfoflia opened #9 "Code of Conduct for the conference"
We had a code of conduct for SotM Asia 2017 - http://2017.stateofthemap.asia/code-of-conduct.html

Let's re-look into the drafting of this and modify it based on the requirements.

### Next actions

- [x] Re-look into the previous draft and go ahead with edits
- [x] Refer to the SotM International (Milan)'s code of conduct and see pieces that fit well with the current one.
- [x] Re-draft the CoC b

[2018-02-06 03:26] jinalfoflia opened #10 "Different blog posts for the conference"
We'd want to promote the conference via the [OpenStreetMap blog](https://blog.openstreetmap.org/). Here is a basic outline of the number of posts going out from our end.

- [ ] A blog post announcing the SotM Asia and CFP dates
- [ ] A blog post about SotM happening with all the other details for anyone who is planning to attend the conference

### Next actions

- [ ] We need to fix a tentative ti

[2018-02-06 03:29] geohacker commented on #10
This is a great idea!

[2018-02-06 05:47] geohacker commented on #2
@jinalfoflia this is the deck that sotm 2018 is using https://2018.stateofthemap.org/Sponsorship2018v2b.pdf

[2018-02-06 09:48] satyaakam commented on #6
@geohacker CIS i found in past to be slow in paper work , go with IODA known folks , quick turnaround time.

[2018-02-06 09:53] geohacker commented on #6
@satyaakam I hear you. I'm talking to Sunil and Sumandro, will post details soon. I'd prefer CIS because it's convenient that they are in Bangalore.

[2018-02-06 23:38] poornibadrinath commented on #10
@jinalfoflia @geohacker I  can help out with Comms for now, if I it's okay for me to join the preps.

[2018-02-06 23:39] jinalfoflia commented on #10
It'll be awesome if you could jump in and help out with these @poornibadrinath, thank you so much!

[2018-02-06 23:51] poornibadrinath commented on #10
@jinalfoflia let me know what needs to be done :) still trying to find my way around the tickets here

[2018-02-06 23:54] jinalfoflia commented on #10
@poornibadrinath as this point, i'm not sure if there is anything immediate that needs to be done. We have some preliminary tasks that need to be done, prior to us announcing the event. Will tag you in the ticket as soon as the first blog post is ready to go. 🙇‍♀️

[2018-02-07 01:13] geohacker commented on #6
Sunil says they will be happy to do this on our behalf - they will need a 10% markup for covering administrative costs. I think this is fair, and it'll be easy for one of us to follow up based in Bangalore. CIS has a track record of being able to support communities like ours.

[2018-02-07 03:45] kshitizkhanal7 commented on #3
https://docs.google.com/spreadsheets/d/1TmwsTKomK486l454NB9H7R5SXvMm6C_ZmTHVKz8HtMI/edit#gid=0
Points of contact in different countries of Asia

[2018-02-07 03:48] kshitizkhanal7 commented on #8
Anything for the day after the conference? We tried city tours/hiking by stationing a travel agent. Only few people were interested.

[2018-02-07 13:31] govvin commented on #3
By the way, when you ask permission from participants when you collect data from the, please ask for permission to specifically share the same with the  SotM Asia "permanent committee"/team that goes with the transition between hosting countries . The reason we shared very little participant data from 2016 was we overlooked this explicit permission.

[2018-02-08 03:30] geohacker commented on #6
We're going ahead with CIS. I'll follow up with more details.

[2018-02-08 03:30] #6 closed

[2018-02-13 12:36] geohacker commented on #7
I'm making some progress on this and updating the document here https://paper.dropbox.com/doc/Venues-and-dates-YV295RZWlm4miOW9JhH3D

I'm also reaching out to IIM. Will keep this ticket posted. If anyone else have other leads, let me know!

[2018-02-13 12:37] geohacker opened #11 "Photos of Bangalore for the website and other collateral"
Can someone help gather a bunch of really cool pictures?

[2018-02-14 06:34] jinalfoflia commented on #5
Have emailed them with the request, will keep the ticket updated with the reply/next actions on this.

cc: @geohacker

[2018-02-14 08:28] geohacker commented on #7
Here's a standard email I've been using for reaching out for quotes:

Hi zyx,

Great speaking to you on the phone just now. Like I said, we'd love hear more about the possibility of  hosting our conference at <venue name> during November 17-18, 2018.

This is OpenStreetMap Asia annual gathering. In 2017, we were in Nepal (http://2017.stateofthemap.asia/). OpenStreetMap is the Wikipedia of maps - t

[2018-02-15 15:56] chtnha commented on #11
@poornibadrinath Can you help here? Maybe photos of Vidhana Soudha/Cubbon Park landmarks works best.

[2018-02-16 03:38] geohacker commented on #11
Just to note that it's not necessary to go out and take pictures. If someone can spend time searching on Flickr for CC / open license pictures that'll be plenty :)

[2018-02-16 15:42] jinalfoflia opened #12 "A wiki page for SotM Asia"
Similar to the [SotM International (Milan)](https://wiki.openstreetmap.org/wiki/State_of_the_Map_2018), we need to have a wiki page for SotM Asia as well. Will start working on the draft for it and once the artwork is ready, will go ahead and create the page.

cc: @geohacker

[2018-02-17 17:14] chtnha commented on #12
@jinalfoflia Here is already existing wiki page for sotm asia 2018 https://wiki.openstreetmap.org/wiki/State_of_the_Map_Asia_2018

[2018-02-21 10:17] geohacker opened #13 "Sponsors to followup"
We have to start getting a sense of interest from sponsors. We'll use this ticket to list people we should reach out. @maning - it'll be great if you can do first round of outreach to gauge interest. Can you help?

Organisation |  Contact | PoC
-------------|----------|------
Mapbox |  mikel@mapbox.com | @maning
Mapillary |  ed@mapillary.com | @maning
DigitalGlobe | |
Ola | |
Uber | |
MapmyIndia |

[2018-02-21 10:25] geohacker commented on #13
cc @jinalfoflia @satyaakam

[2018-02-21 12:07] maning commented on #13
@mapconcierge anyone from Japna community who can help?

[2018-02-21 12:16] geohacker commented on #13
I think we need to have a sense of interest in the next few days from sponsors to pick a venue option as outline in #7. This is to avoid last minute cashflow issues. Most venues need at least 50%  advance payment.

[2018-02-21 23:28] govvin commented on #13
I think, even before we get in touch with these potential sponsors, we should have sponsorship tiers or packages ready to offer. Nepal had a different approach to this, compared to what was done in the Philippines, or even what is was done before in Indonesia.

A special package may also be made for co-naming rights for the event.

[2018-02-22 04:35] geohacker commented on #13
@govvin Yes but we should get a sense of the landscape before thinking of venue ranges :) - possible to still email the folks above that you've marked with a one-liner?

@jinalfoflia is working on the sponsorship deck #2 and I'll have a itemised budget end of the week.

[2018-02-23 00:24] satyaakam commented on #2
@geohacker do we have  source for this one to modify and work on with

[2018-02-23 04:41] geohacker commented on #13
Hey everyone, we're moving sponsorship and budget details over to a secure Google drive because we don't have private repos in this Github org for now. We'll continue to use Github for tasking. https://drive.google.com/drive/u/1/folders/1TLNimMnuWDo9sbi87EMODByesDY99_0j send us a request if you'd like access - we're very liberal.

[2018-02-23 04:43] geohacker commented on #2
I can ask Rob, but we can also just put together one no? Should be pretty straightforward.
@jinalfoflia is working on this.

[2018-02-26 05:50] geohacker commented on #7
Little more than a week into venue research, here's what've got so far:

Venue | Details | Price items | Total
-- | -- | -- | --
Royal Orchid | 1 auditorium. Lunch pricing x 2 days1 hallProjector + screen x 2 nosPA system x 2 nos | INR 1673 / person / lunch (inc taxes) / dayINR 92,925 / hall / dayINR 13,629 / 2 projectors / dayINR 9000 / 2 PA systems / day | INR 10,67,608
Vivanta by Taj | 1 audito

[2018-02-26 19:41] shravan91 commented on #11
I can help here @geohacker and @chtnha. I'll search on Flickr for cc/open license pictures.

Should I send these pictures to someone?

[2018-02-26 19:42] shravan91 commented on #10
I can help here too @jinalfoflia (if there is any help needed). Let me know!

[2018-02-27 09:09] geohacker commented on #11
@shravan91 just post them on this ticket. thanks!

[2018-02-28 05:40] poornibadrinath commented on #11
Oops, sorry for the delay here. I can take pictures over the weekend and also look for cc/commons pictures as well.

[2018-02-28 05:51] geohacker commented on #11
@shravan91 i can't seem to assign you but it'll be great if you and @poornibadrinath can get this soon!

[2018-02-28 06:06] naveenfrancis commented on #7
Any other colleges are we trying other than IIM and IISc ?

[2018-02-28 07:33] jinalfoflia commented on #2
Here is the first draft -
[sotm-asia-2018.pdf](https://github.com/sotm-asia/sotm-asia-2018/files/1766061/sotm-asia-2018.pdf)

Things to be done:

- [ ] Styling the deck based on the logo (Artwork)
- [ ] Some more iterations on the draft

cc: @geohacker @satyaakam

[2018-02-28 10:29] rasagy opened #14 "Website for 2018 edition"
Cutting this ticket to discuss website design & track progress here.

[2018-02-28 11:45] geohacker commented on #14
@tridip1931 is going to help us build one!

[2018-02-28 11:46] geohacker commented on #2
Thank you @jinalfoflia!

@rasagy @maning @planemad @poornibadrinath - want to post ideas from our catchup earlier today? It'll be great to get this in shape latest of this weekend.

@satyaakam - would love if you can help!

[2018-02-28 17:48] shravan91 commented on #11
@geohacker here you go!

First ones >

[Ulsoor Lake](https://www.flickr.com/photos/araswami/2203277926/in/photolist-4mGnLs-82oyCQ-4tJ1qi-5xWccW-4XqF5X-4YmWVt-e9owUL-4kzNhr-9rB8Dq-9nVdyV-6MTRz-j4rRWN-4ShYxS-VTYKxk-54e7od-4grogj-4NN9is-k57Le-4YCgAk-4mCzUv-djwCcq-9djLaH-6UrDvo-4ZjrgY-5WQMH-4kDJ45-4HK6Xf-4QLa5a-4RWn6o-4KjfyU-4V3ZXW-4h3Vjn-9gCApj-9JngYq-78Rh7E-djynXj-5JRAn9-EaHwyA-43mq1u-4NHJUe-4LoAHG-

[2018-02-28 18:07] geohacker commented on #2
Quick feedback based on different conversations:
* we should probably only do gold 15k, silver 10k, bronze 5k, community 1k.
* @rasagy will help expand on overall realestate we can offer
* we don't know yet if we'll be able to offer an exhibition space - what else can we offer in place of this?

[2018-02-28 23:07] govvin commented on #8
@kshitizkhanal7
 It's a long way to Nepal, and most people may already have made prior arrangements?

I checked out the agent, just to compare the trips I booked myself. I definitely saw some SotMA participants in the attractions I went to.

How about coordinating LoCo activities to ramp up interest leading to the event?

[2018-03-01 04:04] jinalfoflia commented on #2
Thank you for sharing the feedback, will iterate the draft based on this and also would need @rasagy's help in maybe styling it.

[2018-03-01 05:12] geohacker commented on #8
@govvin I don't think @kshitizkhanal7 is saying that we should organise something in Nepal. He's wonder if we're up for doing something similar.

I don't think I'll have bandwidth to this on, if someone is willing to help, I'm happy to give suggestions.

@govvin @kshitizkhanal7 on the other hand - what do you all think about the event format?

[2018-03-01 05:26] rasagy commented on #1
A little late, but here’s what I worked on:

We started with three directions (Rangoli, Rickshaw + cameras, Multi-lingual letters). I narrowed  down to the first idea — making a circular, symmetric logo which represents the unique rangoli style from India and also resembles the east asian mandalas.

I restricted myself to only use the 3 basic geometry types on OSM (points, lines, polygons) and the

[2018-03-01 05:42] govvin commented on #8
@geohacker , I'm sorry if I wasn't clear. I didn't say we organize a trip to Nepal. I'm referring to last year's event in Nepal, when they had an agent in the hall offering tours.

re local events will depend on available organizers in local communities - but we could ask community leaders if they can organize any.

[2018-03-01 06:35] geohacker commented on #1
@rasagy - thank you for your work on this. This changes a lot of how we approach the event from now - including the conversations we're able to have. 🙇  ✌️

[2018-03-01 11:02] jinalfoflia commented on #10
@poornibadrinath @shravan91 @arunasank thank you for volunteering here:

We'll soon get confirmation on the venue and dates of the conference. It'll be awesome if we can start drafting the blog post announcing the event and _maybe CfP_. There are some blog posts from the SotM International for reference:

- https://blog.openstreetmap.org/2018/02/09/sotm-deadline-reminders/
- https://blog.openstree

[2018-03-01 11:13] naveenpf opened #15 "Partner Wikimedia India"
- Wikipedia Maps are using maps.
- Try central notice in wikimedia sites.

[2018-03-01 11:13] satyaakam commented on #2
@jinalfoflia can you share the source document of the deck to work on

[2018-03-01 12:19] satyaakam commented on #1
@rasagy cool Please share all the assets in raw also let us know the fonts to use and CMYK

[2018-03-01 13:35] jinalfoflia commented on #2
@satyaakam have shared the files and other images that we can use for the deck. I'm working on refining the content in parallel with you designing the slide deck.

[2018-03-03 11:17] tridip1931 commented on #14
### First Draft

![127 0 0 1_5500_](https://user-images.githubusercontent.com/7458983/36933600-f1bd7738-1f01-11e8-97c2-4f1098d8425b.png)

### Few pointers to consider
- Need logo in `svg` format
- Color scheme experimental
- Copy needs improvement
- Content for other pages needed
- Need working email capture endpoint
- Need footer social media links

[2018-03-03 11:50] geohacker commented on #14
Great, thank you for getting this started @tridip1931! Some thoughts:

* the theme overall looks kind of big - big type, and divs. can we tone this down?
* should we use a cover picture in the hero section instead of the background colour header and white section? @rasagy
* we can hide the cfp section for now
* no need of the academic track section - we don't have one for this conference.
* can al

[2018-03-03 12:06] geohacker commented on #15
@naveenpf thank you for the ticket! It'll be fantastic to have Wikimedia collaborate with us. Do you have ideas? At this point, we're keen on finding a way for Wikimedia to sponsor the event. Let me know if you'd like to chat.

cc @planemad

[2018-03-03 12:07] geohacker commented on #2
@satyaakam @jinalfoflia how are we doing here? We should start sending the deck out on Monday to folks who have requested. Let me know if I can help with anything. Thank you!

[2018-03-03 14:41] satyaakam commented on #2
@geohacker yes we are ready with the template , i have outlined with cations @jinalfoflia can fill in the details. Should be ready by tomorrow

[2018-03-04 12:26] jinalfoflia commented on #2
@geohacker @satyaakam working on it and will be posting the ready one with contents by EOD.

[2018-03-04 21:40] jinalfoflia commented on #2
@geohacker @satyaakam here is the deck - https://docs.google.com/presentation/d/1fz4BgXw7eYcpaFla1qRKN836c0v3-SNUi9yOn3lXYJU/edit?usp=sharing

There are a couple of slides that need 👀

[2018-03-05 06:44] jinalfoflia commented on #1
Committed the logo and artwork files to the repository - https://github.com/sotm-asia/sotm-asia-2018/tree/master/logo+artwork

cc: @maning @geohacker @tridip1931 @rasagy @satyaakam

[2018-03-05 10:01] rasagy commented on #1
[Updated the repo](https://github.com/sotm-asia/sotm-asia-2018/tree/master/logo%2Bartwork) with logo files (png, svg, ai etc.) and the font files for [Dosis](https://fonts.google.com/specimen/Dosis).

The logo uses the weights `SemiBold` and `Regular`.

Colors: Red: `#F16365` and Yellow: `#FCF5A7`

[2018-03-05 10:06] tridip1931 commented on #14
![127 0 0 1_5500_ 1](https://user-images.githubusercontent.com/7458983/36969240-f403d660-208a-11e8-8e4b-2e278d98a790.png)

cc: @geohacker @rasagy

[2018-03-05 10:08] jinalfoflia commented on #2
Here is the link to the presentation - https://docs.google.com/presentation/d/e/2PACX-1vRlh4Pnmp9SgUXAjgP6kxvqlOLRAoJjYHZYP_8_5arhgGe2v8AjSNX60NzVVZZ3oes8ZAIzjVowl8Qb/pub?start=true&loop=false&delayms=3000

cc: @geohacker @maning @satyaakam @rasagy

[2018-03-05 12:11] poornibadrinath commented on #11
Just trying to understand what kind of photos are required. I have a bunch of Bangalore photos that I am curating it in a dropbox folder and I will share it by tomorrow. However, an idea of what kind of images is needed would be really helpful to even take them quickly.

Questions:
1) Are we thinking of highlighting Bangalore in general?
There are some old photos of Bangalore that can be used for

[2018-03-05 12:44] geohacker commented on #11
@poornibadrinath I think a bit of both. The list you and Shravan posted are I think good for now, but please post the ones you think are the best! I'll tag @tridip1931 as we build out the website we can pick from here. Thank you!

[2018-03-05 17:37] srividyacb commented on #11
There are some Nandi Hills Sunset and sunrise pics if needed 🌆 🌅https://www.flickr.com/photos/133501106@N08/albums/72157690051223061

[2018-03-06 02:51] govvin commented on #13
Are we using any template letter for the sponsorship letter?

[2018-03-06 10:45] planemad commented on #15
Sent a mail to [Ravishankar](https://meta.wikimedia.org/wiki/User:Ravidreams_(WMIN)). Will post back with updates.

[2018-03-08 06:07] rasagy commented on #1
Also pushed a wide variant to the logo [here](https://github.com/sotm-asia/sotm-asia-2018/blob/master/logo%2Bartwork/logo/svg/logo-text-wide.svg).

![logo-text-white-bg-wide](https://user-images.githubusercontent.com/1117531/37135809-01ad78c0-22c5-11e8-9a14-f7858150c344.png)

[2018-03-13 12:21] jinalfoflia commented on #9
Here is the draft of the CoC - https://docs.google.com/document/d/1g_WL6R1C7W7QwAdwYxFAk-77xznTJWAPeqq342u82tE/edit?usp=sharing

Documents referred:

- https://2018.stateofthemap.org/codeofconduct/
- http://2017.stateofthemap.asia/code-of-conduct.html

cc: @geohacker @tridip1931

[2018-03-14 11:40] geohacker commented on #9
@jinalfoflia I think this reads great and has very good coverage across venues and events. I'm a 👍.
@tridip1931 when you're ready, let's get this on the website.

Thank you!

[2018-03-14 18:12] jinalfoflia opened #16 "Planning for Call for Proposal"
Writing this ticket to prepare for Call for Proposals. The sections given below are the action items that are required to get this going.

### Announcing the Call for Proposals

- [x] @maning to lead out and form the proposal review committee
- [x] Set up a timeline for accepting, reviewing and announcing the selected talks + workshops for the conference
Here are the **tentative dates** that I hav

[2018-03-14 18:12] jinalfoflia commented on #4
Closing this and capturing the next actions here - https://github.com/sotm-asia/sotm-asia-2018/issues/16

[2018-03-14 18:12] #4 closed

[2018-03-14 18:26] jinalfoflia opened #17 "Ideas for photo booth"
Opening this ticket to capture and discuss fun ideas related to various props, hoardings, etc that can be designed for the conference. This would be something exciting for the attendees 😉

### Starting with one such idea:

Instagram photo prop frame

![file](https://user-images.githubusercontent.com/4470913/37423164-2d98d736-27e3-11e8-9987-0e26c89d03d3.jpg)

Keep these interesting ideas flowing in

[2018-03-15 03:04] govvin commented on #17
Are we getting sponsorships deals from this brand? ;)

We might want to consider potential (local?) sponsors who'd like to have their brands featured.

[2018-03-15 03:07] jinalfoflia commented on #17
Not getting any of it from this brand ;) but yes, we could for sure modify this and brand it accordingly 💯

[2018-03-15 03:22] govvin commented on #17
If that would be the case, we should be featuring our favorite dog food:

I ~~map~~ fixed ~~the world~~ my neck of the woods ! :world_map:

:laughing:  How about an "exclusive" booth brand, say the Karnataka or Bengalaru tourism promotion agencies or associations, for a sponsorship deal?

[2018-03-15 05:39] geohacker commented on #16
Thank you for getting this started @jinalfoflia!

I think we want to keep the list small but relevant to the conversations. How about something like this:

* Cartography / visualization / analysis
* Data creation
* Humanitarian
* Education / documentation
* Local community / diversity
* Transport / planning
* Governance / public policy

[2018-03-15 15:35] maning commented on #16
Adding one more.

* Surprise us!

[2018-03-21 11:41] jinalfoflia commented on #10
@shravan91 @poornibadrinath I have drafted some content for the blog post - https://docs.google.com/document/d/1V70DfFMrV0gDF4qNWpjhoQG6cl90KCMJ4-BPK_KwBuM/edit?usp=sharing

I'm thinking along these lines -- We should hold off on publishing this blog post just for announcing for dates and venue - we can do that on Twitter once we have all the paperwork in. This blog post should also contain CfP (n

[2018-03-22 05:07] poornibadrinath commented on #10
Sounds good @jinalfoflia, makes sense to have an actual blog post with all the details.

[2018-03-22 10:17] rasagy commented on #11
We should also hunt for some IIM B photos that we can use for comms/announcing the venue in the blog in #10.

[2018-03-22 10:32] geohacker commented on #7
Thank you everyone who helped here! We'll host the conference at IIM Bangalore. I've started doing the paperwork. More soon. For now, we get the venue for free and we will cover food.

The venue is provisionally booked for us. For Nov 17-18. I'll keep you posted as I work through the admin steps.

🎉

[2018-03-22 10:53] geohacker commented on #7
This is our requirement for infrastructure that I've sent to IIM:

 . | number | description
 --|------|------------
Auditorium | 1 | Plenary. Main conference track for 250 people.
Lecture Hall | 1 | Second conference track. 100-120 people.
Class rooms | 2 | Space for volunteers and conference storage.
Meeting room | 1 | Space for speakers to meet and rehearse.
Projectors | 3 |  One for a classroo

[2018-03-22 12:50] jinalfoflia opened #18 "Arranging hotels/accommodation near the venue"
We need to find accommodation[s] that could be recommended to the delegates attending the conference. It would be great if could get these rooms at a discounted rates. We could _maybe_ offer them to be our accommodation partner or so.

I did a quick skim through via Google and found these that are closer to the venue: [spreadsheet](https://docs.google.com/spreadsheets/d/1WX8bzqKzA-Vo-KJt2er05rYznj

[2018-03-22 12:57] poornibadrinath commented on #18
@jinalfoflia @geohacker I feel that since JP nagar is close to IIM Bangalore, we should look for accommodation there instead of somewhere close to IIM B. There are not many good staying options there. The only downside to having hotels in JP Nagar is the travel.

Also, @jinalfoflia I can help out a bit with this. A little free on the coming weekends. What needs to be done??

[2018-03-22 13:06] jinalfoflia commented on #18
@poornibadrinath I agree, there might be better hotels in JP Nagar, no harm in checking them out too.
I'm adding the hotels that I come across in the spreadsheet, if you can also search add the details to the spreadsheet, we can shortlist a few and post that go and negotiate with them.

[2018-03-23 04:48] geohacker commented on #18
Thank you for getting started on this one @jinalfoflia @poornibadrinath! JP Nagar / Jayanagar may not be bad either. We're considering organising buses to bring the participants to the venue in the morning so that might work well.

[2018-03-23 04:49] geohacker commented on #18
When you come up with a shortlist, we should call them and find out bulk booking discounts.

[2018-03-23 08:30] jinalfoflia commented on #16
Are we all 👍 with this timeline?

Here is the submitter form: https://goo.gl/forms/VkOKee34xfzyoylI3 (cc: @geohacker @maning)

@rasagy @tridip1931 -- would love your feedback on this, feel free to modify it based on the website.

[2018-03-23 09:43] planemad opened #19 "Redirect sotm.in to http://stateofthemap.asia/"
[whois: sotm.in](https://www.whois.com/whois/sotm.in) mentions @shekhark is the owner.

@shekhark could you do the needful ❤️

[2018-03-23 10:15] rasagy commented on #16
Small feedback around copy:

_can be_ or should be? Can makes sense if there are options (can be in English, Kannada, Hindi), not for a single option.

We should make this more inclusive for non-binary attendees.

_know_ and not _now_, and we should make this more explicit (anything else that you’ll need for your session, or want to let us know).

Can we link to the scholarship form from the CFP f

[2018-03-23 10:55] planemad opened #20 "Inviting knowledge partners"
From the March 23 meet:

- Having [knowledge partners](https://www.slideshare.net/Celcius233/essentials-of-knowledge-partnerships) for SoTM can help build a strategic network of individuals and institutions to nurture the regional OSM community in the longer term
- Can help diversify the participation of the conference beyond the usual software/tech oriented event

Lets use this space to better de

[2018-03-23 11:27] poornibadrinath opened #21 "Outreach plan for SOTM"
We'll need a solid outreach plan to effectively communicate about SOTM Asia and that would include:
- [ ] Different blog posts, each highlighting a part of the event. Already being captured in #10
- [ ] List of colleges and universities to be contacted
- [ ] Social media outreach using Twitter/Facebook etc.
- [ ] Posters and other printables

Using this ticket to streamline the outreach process an

[2018-03-23 14:16] maning opened #22 "Organizing the Program committee"
We are kickstarting the program committee.  Let's convene and discuss our next actions for the event. Main responsibilities of this group are:

* Define acceptance criteria for presentations and workshop proposals.
* Review submissions based on ^^ criteria.
* Prepare and send communications to applicants in behalf of the organizing team.
* Prepare the final conference program.

Initial members are

[2018-03-24 01:03] govvin opened #23 "Tiered-pricing for tickets?"
Sajjad mentioned this in the meeting yesterday, but my audio was choppy so I may have missed a lot of what was said.

I believe that we should seriously consider ticket sales as a way to cover some of the expenses for SotM Asia events. While we don't expect it to cover most of the expenses, we can at least reduce the amount of money organizers need to raise to make the event possible.

We would al

[2018-03-24 02:59] govvin commented on #9
Folks, do we need a TLDR; version? Snipped from the AAG progam:

Ideas and information are exchanged most effectively at the State of the Map Asia events in an atmosphere free of abuse or harassment, and characterized by courtesy and respect. To that end, the SotM Asia expects all individuals who attend to conduct themselves in a manner that establishes an atmosphere free from discriminatory pract

[2018-03-26 07:44] rasagy commented on #9
Oops, missed cross posting [my comment from the CoC PR](https://github.com/sotm-asia/sotm-asia-2018-website/pull/14#issuecomment-375623571) here — agree with @govvin on having a shorter, summarized version of CoC on the website first, and following it with the more detailed version below it.

@jinalfoflia would love your 👀 on the summary @govvin posted above! 🙇

[2018-03-26 07:47] jinalfoflia opened #24 "Medium Blog for the Website"
Reference: https://github.com/sotm-asia/sotm-asia-2018/issues/21 and https://github.com/sotm-asia/sotm-asia-2018/issues/10

It is important for to have a dedicated space to announce all our event-related announcements, testimonials, etc as blog posts as well as have a way of sharing the content for cross-posting. We have decided to host our blog on Medium.

### Next action[s]

- [x] @jinalfoflia t

[2018-03-26 09:12] jinalfoflia commented on #16
@rasagy thanks so much for the feedback! 🙇‍♀️ Have made the suggested changes.

Yes, have added a question: `Would you require a scholarship?`, if yes, then there is a link to the Call for Scholarship (CfS) form. Tejas is working on the CfS form.

[2018-03-26 10:06] jinalfoflia commented on #9
Thanks for this TLDR version of the CoC @govvin. This looks great. I agree this should be something the users must agree before registering.

@rasagy trying to make changes according to your suggestions. @tridip1931 we have the summary version of the CoC here, can you please add it to the website? Thank you!

[2018-03-26 12:29] maning commented on #22
Sent email to all.

[2018-03-26 12:53] geohacker commented on #9
Thank you for this @govvin @jinalfoflia @rasagy!

[2018-03-26 17:34] jinalfoflia commented on #24
Here is the publication link: https://medium.com/state-of-the-map-asia/
Here is the link to the Medium profile: https://medium.com/@osmasia

cc: @rasagy @tridip1931 @geohacker

[2018-03-27 06:08] shravan91 commented on #11
Here are some photos:

[IIM B](https://www.flickr.com/photos/sanyambahga/10048461003/)
[IIM B Campus](https://www.flickr.com/photos/ashasusan/3469871353/in/photostream/)
[IIM B Campus](https://www.flickr.com/photos/logrcubed/4639601662/in/photolist-84ZaW7-6hBZSa-r4WEA3-giWZnD-bpQLFL-8F4nu-aZXyy2-8KicwK-8Tbikg-F21Pi-9gJ5sd-8FxNzD-6E32vt-7FWaMf-48oqRg-98guZL-6E7d1E-6E7egy-6E32gi-9NpiWR-kZTRU-98ghz9-

[2018-03-27 06:47] bsrinivasa commented on #11
https://photos.app.goo.gl/pbIJ8BPD3SSI3dVv2 has view of the IIMB campus in case if this is useful.

[2018-03-27 10:08] jinalfoflia commented on #3
### State of the Map Asia's different social media accounts:

- [YouTube](https://www.youtube.com/channel/UCR7PMzU0l__u8Pt73QyHWAQ) - for live streaming during the conference

### Outreach:

- [Medium profile](https://medium.com/@osmasia)
- [Medium SotM Asia publication](https://medium.com/state-of-the-map-asia/)
- [Twitter](https://twitter.com/SotmAsia)
- [All the regional FB groups mentioned in

[2018-03-27 10:08] #3 closed

[2018-03-27 10:19] jinalfoflia commented on #24
The blog and publication are up. 🚀 Minor tweaks can be done as we go ahead in using them, closing this ticket for now. I have only added few folks as editors on the publication page, please let me know if you need access too.

PS: You need to have a Medium account for me to add you as an editor

[2018-03-27 10:19] #24 closed

[2018-03-27 12:01] TejasAP opened #25 "Call for Scholarships (CfS)"
Here is the draft for the Scholarship form: https://docs.google.com/forms/d/1L8wOp912JVIP3STbsjEgDIqTSbE4pvPnEGYSWe-8aCY/edit

Please provide suggestions for questions you would like revised/included.

[2018-03-27 12:09] TejasAP commented on #21
Adding 'media/press kit' as an action item to the list.

[2018-03-27 13:13] tridip1931 commented on #24
Do you need help with assets @jinalfoflia?
I can help you with the cover image and profile pic for medium account.

[2018-03-27 14:29] tridip1931 commented on #16
My 2 _rupiya_. Please feel free to ignore this:

Should we reframe ☝️  to more shorter sentences:
- Need scholarship. (Learn more)
- First time speaker at OSM Asia conference

[2018-03-28 10:00] jinalfoflia opened #26 "Sponsorship Checklist"
I have created a spreadsheet that contains the templates of checklists that we need to run through while we coordinate sponsorship with different organisations. Making it easy for us to keep a tab on requirements from their end and things that we have offered to them.

Feel free to change/add anything that I have missed. Meanwhile, it'll be awesome we can start adding details of the folks/organisa

[2018-03-28 10:40] jinalfoflia commented on #25
Thank you @TejasAP for the form!

Here are a couple of suggestions from my side:

I'm unsure of having this as a question as this form is primarily meant for one to express interest in scholarship. Would defer to others on this though

[2018-03-28 11:27] jinalfoflia commented on #1
No next actions here, closing this! Thanks so much @rasagy for this amazing logo and artwork! 💥

[2018-03-28 11:27] #1 closed

[2018-03-28 11:27] jinalfoflia commented on #2
No next actions here. Will re-open if needed.

[2018-03-28 11:27] #2 closed

[2018-03-28 11:40] govvin commented on #25
How about asking whether they need a full, or partial scholarship?

[2018-03-28 12:19] TejasAP commented on #25
@govvin The second question addresses your concern. It has been phrased as 'complete' and 'partial' financial support. Would it read better and easier if I replace 'financial support' with 'scholarship'?

[2018-03-28 12:27] govvin commented on #25
Yes. I've always thought of it as a 'grant', but financial support work well, too.

[2018-03-28 13:13] jinalfoflia commented on #10
Made some more edits to the previous draft - https://docs.google.com/document/d/1V70DfFMrV0gDF4qNWpjhoQG6cl90KCMJ4-BPK_KwBuM/edit?usp=sharing

Would love more 👀 before we send this to the comms team at IIM-B

cc: @poornibadrinath @geohacker @shravan91

[2018-03-28 15:42] rasagy commented on #25
Some thoughts:

Unless we explain what these plans are, I don’t think it helps to ask this question. Why not merge this with the next question on participation dependent on scholarship:

**Does your decision to participate depend on the scholarship?**
- [ ] Yes, I can not participate if I don’t get complete support
- [ ] Yes, but I will participate even if I get partial support
- [ ] No, I can par

[2018-03-29 10:00] jinalfoflia commented on #9
The page is live - http://stateofthemap.asia/coc.html ✨

Thank you @tridip1931 🚀

No next actions here, closing this!

[2018-03-29 10:00] #9 closed

[2018-03-29 12:54] geohacker commented on #9
Thanks everyone!

[2018-04-02 04:59] geohacker commented on #10
@jinalfoflia @poornibadrinath thank you! I made some suggestions that make the content a bit more concise. Let me know what you all think? Let's get this out today.

[2018-04-02 07:31] jinalfoflia commented on #10
Thank you for the edits @geohacker, do we need to send this to the comms team at IIM-B or can we directly publish it on our blog?

[2018-04-02 10:43] geohacker commented on #10
Thank you everyone! We'll publish Wednesday April 4, 10am. Waiting to hear from IIM comms for a 👍.

[2018-04-02 12:31] jinalfoflia commented on #24
I can help you with the cover image and profile pic for medium account.

Thanks for the help @rasagy @tridip1931. We can iterate over the blog as and when we have more posts.

[2018-04-03 07:08] jinalfoflia commented on #10
### Comms plan for the announcement the post

Once the blog post announcing the date and venue for the conference is out, we shall do the following:

- [ ] Tweet the post from SotmAsia account
- [ ] All the folks to RT the tweet/share it with their networks
- [ ] Write a blurb for the post and share it to the different OSM Asia community's FB pages - https://github.com/sotm-asia/sotm-asia-2018/iss

[2018-04-03 11:43] govvin commented on #16
What do you think off adding the following under the conditions of attendance/presentation?

[ ] - I will present my session(s) as accepted by the organizers.
[ ] - I grant permission to State of the Map Asia to post my session description, biography and copy presentation deck to tour website, and use this information in any of our marketing materials.
[ ] - I will adhere to the the State of the M

[2018-04-03 11:47] govvin commented on #25
Only make this question visible if they answer yes in the previous question. Otherwise those who answer no in the previous question is forced to answer this.

[2018-04-03 13:12] jinalfoflia commented on #12
Thank you @chtnha for keeping the wiki updated. 🙇‍♀️
Closing this!

[2018-04-03 13:12] #12 closed

[2018-04-04 11:23] jinalfoflia opened #27 "Deadlines associated wrt CfP and CfS"
Branching out from https://github.com/sotm-asia/sotm-asia-2018/issues/16 and https://github.com/sotm-asia/sotm-asia-2018/issues/25

Here is the tentative timeline for us to work with:

### Call for Proposal (CfP)

| Activity | Deadline | Time span | Meeting the deadline |
| ------ | ---------- | ----------- | --------------------- |
| Announcing the CfP | **6th April** | | ✅  |
| Submission deadli

[2018-04-04 11:42] geohacker commented on #27
Thank you for capturing this @jinalfoflia.
I agree with the above dates and time frame.

[2018-04-06 02:51] TejasAP commented on #25
Thanks for the comments, everyone. I have updated the form to reflect the comments better. Please let me know if we need any more changes to be made before the form is made public today.

[2018-04-09 09:35] jinalfoflia commented on #10
### Jotting down the list of next possible blog posts:

This is a rough list, we can keep iterating these based on our requirements, keeping this list for reference and planning.

#### Logistics

- [x] Announcing the date and venue
- [x] Announcing the CfP
- [ ] Announcing the CfS
- [ ] A post combining announcement, CfS and CfP posts -- posting this from OpenStreetMap blog
- [ ] * A blog post sta

[2018-04-09 11:29] jinalfoflia commented on #25
Here is the draft of the blog post -- https://docs.google.com/document/d/1Sqmu_JqEC6w-hwhMvafCMZ5hEzcO5TPGtx80qo_-Bqk/edit?usp=sharing

Would love to hear your feedback on this.

[2018-04-10 06:51] jinalfoflia commented on #18
@poornibadrinath did you get a chance to update the list of hotels? I have some time this weekend, will add more to the list.

[2018-04-10 07:55] poornibadrinath commented on #18
I have added a few hotels in the vicinity to the list. We need to call or go there and check out the prices and stuff.

The hotel list is [here](https://docs.google.com/spreadsheets/d/1WX8bzqKzA-Vo-KJt2er05rYznjTLSpPFYz_T1Juh6ws/edit#gid=0)

I am still looking for a few hotels in the area. Booking.com has a huge list of places. Will check and update accordingly.

@jinalfoflia we can check a few th

[2018-04-10 11:25] jinalfoflia commented on #25
Thanks for the edits @TejasAP @geohacker, have scheduled the blog post to go out tomorrow morning 10 am, here is the final post - https://medium.com/state-of-the-map-asia/scholarships-362b82c62ac

[2018-04-10 11:27] jinalfoflia commented on #16
Thank you team, the Call for Proposal was announced - https://medium.com/state-of-the-map-asia/call-for-proposal-ce6a93ec9c64, will open up new tickets for next actions, closing this for now!

[2018-04-10 11:27] #16 closed

[2018-04-10 14:41] rasagy opened #28 "Brand Collateral Master ticket"
Placeholder ticket to discuss what all we need for branding, and a dumping place to share collaterals that might not be worth pushing to the repo but useful anyway (like article specific banners).

[2018-04-12 09:57] planemad commented on #20
Goals:
- Spread awareness about OSM in new communities
- Institutions that can help recruit new OSM contributors

Next actions:
- @planemad prepare a list of potential local and international partners

[2018-04-12 09:58] rasagy opened #29 "Outreach Poster Design"
We’ll need posters to send to colleges for outreach per #21.

Let’s use the ticket to:

- [x] Confirm the content for the poster
- [ ] Iterate on the design

@TejasAP @jinalfoflia @geohacker Pointers on the content?

[2018-04-22 02:44] govvin commented on #16
Kindly consider adding a email confirmation when an application is submitted. There's a Form [plugin](https://chrome.google.com/webstore/detail/form-confirmation-emails/jpcbhpmhfdheaohgidhjgjgfhocninfn) for that.

[2018-04-22 11:03] jinalfoflia commented on #16
@govvin @tridip1931 have added confirmation email for CfS and CfP. Thanks for the suggestion 🙇‍♀️

[2018-04-24 07:37] naveenpf commented on #20
If you are considering Govt orgs, please add
NCOG  https://ncog.gov.in/
IIITKM  http://gis.iiitmk.ac.in

Other not my favourites
SOI - http://www.surveyofindia.gov.in/
NATMO - http://www.natmo.gov.in/
NSDI - https://www.nsdiindia.gov.in/

[2018-06-18 11:50] bkowshik commented on #9
Getting a `http 404` when I visit this page. This is also linked on the talk submission form.

<img width="1262" alt="screen shot 2018-06-18 at 17 15 57" src="https://user-images.githubusercontent.com/2899501/41534349-e36f6a4c-731b-11e8-88bd-1e0c8ac9e606.png">

[2018-06-18 11:52] jinalfoflia commented on #9
@bkowshik thank you for flagging this, there were many changes to the website post the CfP form was released. Changing the link, right away.

[2018-06-25 16:10] poornibadrinath commented on #18
Sorry for the delay here, some mix ups with numbers and emails and slow responses. I have updated a few details in the spreadsheet [here](https://docs.google.com/spreadsheets/d/1WX8bzqKzA-Vo-KJt2er05rYznjTLSpPFYz_T1Juh6ws/edit#gid=0). Most of the hotels listed here have availability on the dates 16-19 of November. I called and enquired all of the hotels, they all have availability and the room rat

[2018-07-03 05:00] geohacker commented on #18
@poornibadrinath this is great start. Thank you. Could you add another column to the sheet about the distance and how people would commute?

@poornibadrinath can you also followup with them and arrive at a price/discount this week? Thank you!

[2018-07-03 17:41] poornibadrinath commented on #18
Sorry for the delay here. Yes, I will add the column and the details by tomorrow.

Waiting for a few more emails from all of the hotels, will have an update ready by the end of the week and we can move ahead and block the rooms.

[2018-07-04 09:40] rasagy commented on #28
First draft of the list of collaterals, feel free to edit/comment to add more.

## Leading up to the event
- Outreach
    - Poster to invite participation
    - Poster Template to hold a mapping party/OSM 101 event
    - Invitation Letter Template for colleges/organization

## Space set up
- Flex banner for the stage (1 for each of the 3 venues, Audi can be larger, should contain conference name +

[2018-07-06 10:59] jinalfoflia opened #30 "Outreach plan"
We caught up and here are the outlines, next actions and pointers for the following. Expect more sub-tickets + comments as we move ahead with these. Is there anyone else who would be able to join and volunteer in any of them.

1. List of universities -- here is the [spreadsheet](https://docs.google.com/spreadsheets/d/1LmLodUM92S7qoBabWqPcdZsCrzEXC-LQ2Z2bRDVS1kg/edit#gid=0), @jinalfoflia to add the

[2018-07-06 11:12] jinalfoflia commented on #30
### Next actions

- [ ] @TejasAP @rasagy to have the poster ready by end of next week
- [ ] Ask folks to fill in the spreadsheets with suggestions by end of next week
- [ ] @TejasAP @jinalfoflia to draft the email for Universities
- [ ] @jinalfoflia start an email thread with possible event POCs + suggesting the possible dates

[2018-07-10 18:18] poornibadrinath commented on #18
Getting ready the spreadsheet with all the details of the hotels and tariffs. Will post the update by eod tomorrow. Sorry for the delay here, was a bit busy with various priorities and was waiting for a few more replies.

[2018-07-12 12:00] poornibadrinath commented on #18
I have added the distance column in the spreadsheet. These hotels are located in the arrange of 3-7 kms IIM Bangalore. The nearest ones from IIMB are Euphoria, Aarama Suites and The Grand Continent. Out of which, I haven't been able to get in touch with Euphoria at all. The number and the email are both faulty. However, I will try to find an alternative way of contact and find out how many rooms a

[2018-07-19 14:58] rasagy commented on #29
@TejasAP came over and we made an early draft of the poster today:

![outreach poster v1](https://user-images.githubusercontent.com/1117531/42950515-d444cfa6-8b91-11e8-9823-7ff1ce0d3d97.png)

The design is still WIP, but let me know if we are missing any major content in this poster. One of the thing we don’t have in this is a mention of pre-events — @geohacker is this something we will need in th

[2018-07-19 15:04] geohacker commented on #29
@rasagy @TejasAP thank you for moving this forward! This is looking good to me. I wonder if the themes can be explained a bit more if we have the real-estate.

No we can leave the pre-events out for now, and do separate outreach for that.

[2018-07-20 13:51] rasagy commented on #29
Updated with smaller logos, final themes and Insta handle.
![outreach poster v3](https://user-images.githubusercontent.com/1117531/43005984-132c60c4-8c52-11e8-9ad3-68666ae1956c.png)

[2018-07-21 14:35] rasagy commented on #29
Final poster with 👍 from @TejasAP:

![outreach poster v4](https://user-images.githubusercontent.com/1117531/43036523-2e792df6-8d21-11e8-8be6-9974a0235fec.png)

Higher res files (png & pdf) are [in this repo](https://github.com/sotm-asia/sotm-asia-2018/tree/master/outreach%20poster).

[2018-08-17 17:34] jinalfoflia commented on #29
👋 @TejasAP @rasagy we have some feedback on the poster from the IIM-B folks

Can we make sure that this is reflected on the poster? Thanks so much!

[2018-08-23 08:45] geohacker opened #31 "Upcoming blog posts"
In no order:

* [ ] Pradip's experience at SOTM 2017
* [ ] Featuring IIM
* [ ] Featuring all sponsors
* [ ] Announce pre-events and calendar
* [ ] Post pre-event reports
* [ ] Announce keynote speakers
* [ ] Announce program
* [ ] Travel announcements

cc @jinalfoflia @TejasAP @maning @planemad @poornibadrinath

[2018-08-23 08:46] geohacker commented on #25
We closed call for scholarships and are currently reviewing. @jinalfoflia will reach out to each applicant and announce the status.

[2018-08-23 08:46] geohacker commented on #30
Ref #31

[2018-08-23 08:48] geohacker commented on #23
We're going ahead with single tier because of taxes and ease of receiving money.

[2018-08-23 08:48] #23 closed

[2018-09-07 10:52] planemad opened #32 "[blog] Opening keynote"
We have a confirmed keynote speaker for the opening:

**Speaker details**

![](http://www.pukar.org.in/wp-content/uploads/2012/09/Anita-PD-257x300.jpg)

Dr.  Anita Patil-Deshmukh, Executive Director of [Pukar](http://www.pukar.org.in/)

Bio as received from speaker:

developmental researcher by preference; Dr. Anita Patil-Deshmukh is the executive director of
Partners for Urban Knowledge Action an

[2018-09-10 07:58] geohacker opened #33 "Volunteers at the conference"
We'll need volunteers for the conference in the following areas - let's put out a call, and collect names and interests:

1. Welcome desk
Registration, badge assembly, answer sign up questions - at least 6 people in the morning. 2-4 afternoon.

2. Door pointers and guides
General volunteers help with the overall space. Answer questions, point people in the right direction. 6 people.

3. Session te

[2018-09-10 08:01] geohacker opened #34 "Conference guidebook"
We need a guidebook that covers basic info like:
1. Location
2. Important phone numbers
3. CoC
4. Schedule
5. Sponsors

cc @rasagy @TejasAP @jinalfoflia

@rasagy can you run this out?

[2018-09-10 08:01] geohacker commented on #32
@planemad possible get pictures of impactful work?

[2018-09-13 14:32] geohacker opened #35 "Print stickers"
We'll print stickers through juststickers.in - mostly because I've worked with them before and they are quoting the following:

Size: 2.5" x 1.4" (approx)
Quantity: 1000
Material: Premium vinyl
Finish: Matte
Costing For Rectangle: Rs 8 per piece + GST

Per chat with @TejasAP, we'll do a combination of colours. Original, and two other colours.

**If anyone has time to help with changing the colours

[2018-10-05 11:27] geohacker opened #36 "Blog second keynote Siddharth Hande"
@jinalfoflia and @TejasAP are working on this now!

[2018-10-06 04:59] geohacker commented on #35
We got stickers printed through Juststickers.in. Shipping these out to the pre-events this morning. Thank you Kshiraja, @rasagy, @TejasAP and @jinalfoflia for all the help!

[2018-10-06 04:59] #35 closed

[2018-10-06 05:12] geohacker opened #37 "Tote bags!"
We're going to print tote bags this time as well. Last year they proved to be really useful and has a lasting effect for participants to take home.

@TejasAP and I have been talking to a few vendors. One of them is https://aliciasouza.com/ - their pricing is as below:

The other one is corpattire based in Bangalore. Still waiting for quote from them.

[2018-10-07 14:33] psubhashish commented on #11
Not to forget to [explore](https://ccsearch.creativecommons.org/) more pictures beyond Flikr. Also, on [Wikimedia Commons](https://commons.wikimedia.org/wiki/Category:Bangalore) (a bit hard to find them though because of inconsistent metadata).

[2018-10-09 04:04] geohacker commented on #34
@rasagy @TejasAP can we get started on this?

[2018-10-10 12:00] jinalfoflia commented on #36
Blog post was out - https://medium.com/state-of-the-map-asia/announcing-our-second-keynote-speaker-siddharth-hande-6830957b86f5

Closing this!

[2018-10-10 12:00] #36 closed

[2018-10-14 06:10] geohacker commented on #34
@planemad and @TejasAP  is helping with the Guidebook https://paper.dropbox.com/doc/Conference-Guidebook--AO4uxn7XST~Z0o6Ok~_GqFR9AQ-D74IFENm7oSMXV364fyLO

[2018-10-14 12:46] rasagy commented on #37
Synced over Whatsapp with @TejasAP and Kshiraja. Narrowed down on using Lal Bagh with Moonlight style as a base, but in the extended color palette.

Screenshot for vectorizing:

![lal bagh - moonlight](https://user-images.githubusercontent.com/1117531/46916797-25945400-cfdd-11e8-92ed-404998f78e6f.png)

[2018-10-14 13:05] rasagy commented on #37
Made some tweaks for bringing out the details better:

![lal bagh - moonlight thicker](https://user-images.githubusercontent.com/1117531/46917011-db60a200-cfdf-11e8-9ea0-70ace2130bc2.png)

[2018-10-17 12:29] jinalfoflia opened #38 "Kickstarting the Conference: Welcome Ceremony"
Laying down this ticket for @TejasAP @srividyacb and @poornibadrinath to work on the agenda/program for starting off the conference. Per conversation on the call today evening, we'll limit the registration until 9:30 am and have the welcome ceremony begin, post that.

Let's make sure we share the agenda by the coming week.

[2018-10-20 11:42] jinalfoflia opened #39 "Outreach plan for the conference"
### Immediate Outreach

Over this weekend, we'll do the following to reach out to the broader audience:

- [ ] @jinalfoflia to schedule some tweets from the official Twitter account.
- [ ] @geohacker, @planemad, @Tejas, @jinalfoflia and everyone else to share the details about the conference to their personal contacts and folks who might be interested in being a part of the conference
- [ ] Share

[2018-10-22 05:35] geohacker commented on #38
@srividyacb @poornibadrinath @TejasAP did you all figure this out? we want to send this today or tomorrow so that we can invite the IIM director or dean to be present. This is a bit last minute because they may already have other engagements.

[2018-10-22 05:38] geohacker commented on #38
Here's roughly what I think would happen:

1. Welcome to Bengaluru - I'd like to welcome the group, give an overview of the conference, and make announcements.
2. Dean/director - few words, ~10 mins
3. Dean/director, Prof. Rahul + Prof. Hema - Inaugurate the event by adding a node on OSM - this is @TejasAP's idea and I think we should totally do it. Prof. Rahul was also very excited.
4. Keynote

B

[2018-10-22 05:40] geohacker commented on #37
Thank you! Tote bag orders are sent. We're waiting for a sample.

[2018-10-26 04:02] geohacker commented on #39
### Email draft

<details>

Hey everyone,

I'm delighted to invite you all to State of the Map Asia 2018 - the annual OpenStreetMap conference of communities in Asia. The conference will be at the Indian Institute of Management Bangalore during November 17-18.

The program over two days feature keynotes, workshops, and talks about mapping stories, technical and policy challenges from across the re

[2018-10-26 08:50] naveenpf commented on #39
- [x] OSGEO India
- [x] ICFOSS
- [x] SOI
- [x] NCOG
- [x] NIC- Bharat Maps
- [x] KSDI
- [x] DigiInfo
- [x] IIITMK
- [ ] NSRC
- [ ] NATMO
- [ ] NSDI
- [ ] All contacts on NCOG - https://ncog.gov.in/documents/GIS-SEMT-SPOCs.pdf

[2018-11-01 12:14] yogiks commented on #33
Thank you @geohacker. Expanding above, here are the list of volunteer task with the number of volunteers required -

1.  Welcome desk: **6 people in the morning and 2 in the afternoon**
    - Registration - **2 people**
    - Badge Assembly - **2 people**
    - Answer sign-up questions - **2 people**
2. Door pointers and guides - **6 people**
    - General volunteers to help with overall space - *

[2018-11-01 12:19] srividyacb commented on #33
Listing some names who can be a volunteer at the conference and help in running it smoothly. We will be assigning and updating with activities and volunteers who will be handling it here.

Volunteers | Volunteers | Volunteers
---- | ---- | ----
@planemad | @yogiks | @jinalfoflia
@srividyacb | @geohacker | @TejasAP
@chtnha | @poornibadrinath | @kupendrayadav
@muzirian | @nikh1ll | @maiti21
@vamsee

[2018-11-06 09:11] geohacker opened #40 "Tasks leading to the conference"
## Week of Nov 5

* [ ] Finalise social event
* [ ] Prepare lists
* [ ] Confirm program/speakers/invitations
* [ ] Outreach
* [ ] Travel
* [ ]

## November 12-13
* [ ] Printing

## November 14
* [ ] Visit IIM
* [ ] Get to know IT/AV/Housekeeping points of contact at IIM
* [ ] Meet the video people
* [ ] Check Internet situation - check what to do for speakers and workshop participants.
* [ ] Check

[2018-11-22 11:36] jinalfoflia commented on #39
We have quite a few newspapers talking about SotM Asia 2018, listing them all here for future reference:

### Prior to the event

- [Deccan Herald](https://www.deccanherald.com/supplements/dh-education/bulletin-board-702938.html)
![photo_2018-11-22_16-51-06](https://user-images.githubusercontent.com/4470913/48899888-d7456100-ee76-11e8-8068-8be5206ccdc4.jpg)

- [New Indian Express](http://www.newin

[2018-11-26 10:19] jinalfoflia commented on #39
A very nice [article](https://bangaloremirror.indiatimes.com/bangalore/cover-story/a-bunch-of-bengalureans-are-working-overtime-to-map-the-citys-problems/articleshow/66800961.cms) by BangaloreMirror sharing the different mapping stories and the conference.

[A bunch of Bengalureans are working overtime to map the city’s problems.pdf](https://github.com/sotm-asia/sotm-asia-2018/files/2614992/A.bunc